@media screen and (max-width: 479px)

{


    * {
        margin: 0;
        padding: 0;
    }
      

    nav ul{
        display: none;
    }


    nav .btn{
        position: relative;
        left: 60%;
        /* display: none; */
    }


    nav .btn{
        border: 2px solid #fff;
        padding: 8px 25px;
    }
                        

    .content h1{
        font-size: 48px;
        margin-bottom: 15px;
    }
    
    
    .content p{
        line-height: 22px;
        font-size: 15px;
    }


    .container{
        height: 100vh;
    }


    .content .btn{
        margin-top: 26px;
        padding: 10px 20px;
        font-size: 10px;
    }



    .coin-list{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 35%;
        /* margin-right: 0%; */
        margin-left: 4rem;
        
    }



    .coin{
        display: flex;
        font-size: 16px;
        white-space:nowrap;
        margin: 0 0px;
        color: #f1b363;
        border: 1px solid #fff;
        padding: 25px 20px;
        padding-right: 10rem;
    }
    
    .coin img{
        width: 45px;
    }
    
    .coin h3{
        margin-bottom: 3px;
    }


}